/* Navbar CSS */

.navbar {
  background: linear-gradient(to top, #1c2293, #6168f0);
  padding: auto;
  margin-top: -1.5em;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.navbar h1 {
  margin-top: 1em;
  margin-left: 0.5em;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 2.7em;
  margin-right: 0.5em;
}

.navbar ul li {
  display: inline-block;
  margin-right: 1em;
  font-weight: bold;
}
